.o_table_nomina {

}
#company {
    color: #000000 !important;
    th {
        border: none !important;
        background-color: #BDBDBD !important;
        color: #FFFFFF !important;
        text-align: center;
    }
    td {
        text-align: center;
        background-color: rgba(184, 171, 180, 0.2) !important;
    }
    h2 {
        font-weight: bold;
        color: #000000 !important;
        text-align: center;
    }
    strong, p, span {
        text-align: center;
    }
}

#empleado {
    table {
        width: 100%;
    }
    td {
        padding: 5px;
    }
}

#percepciones {
    color: #000000 !important;
    th {
        border: none !important;
        background-color: #BDBDBD !important;
        color: #000000 !important;
        text-align: center;
    }
    tbody {
        color: #8F8F8F !important;
        tr:nth-child(odd) {
            background-color: rgba(184, 171, 180, 0.2) !important;
        }
        tr td {
            color: #000000 !important;
            border-top: none !important;
        }
        /* To first child         */
        tr td:nth-child(1){
            border-left: 1px solid #BDBDBD !important;
        }
        tr td:nth-child(3){
            border-right: 1px solid #BDBDBD !important;
        }
        tr td:nth-last-child(1){
            color:green;
        }
    }
    tfoot {
        tr td {
            color: #000000 !important;
            border-top: 1px solid #BDBDBD !important;
        }
    }
}

#info {
    color: #000000 !important;
    td {
        border: solid 1px rgba(184, 171, 180, 0.2) !important;;
        color: #000000 !important;
        text-align: left;
    }
}