@cs-body-color: #303030;
@cs-body-size: 10px;
@cs-table-header-bg: #656565;
@cs-h2-color: #545454;
@cs-strong-color: #545454;
@cs-border-color: #dddddd;


html, body {
    height: 100%;
}
body {
    color: @cs-body-color !important;
    word-wrap: break-word;
    font-size: @cs-body-size !important;
}

.bg_color {
    background-color: #dddddd !important; 
    color: #FFFFFF !important;
    strong {
        font-weight: bold; 
        color: #545454 !important;
    }
}
.bg_color_blue {
    background-color: #90a4ae !important; 
    color: #FFFFFF !important;
    border-bottom: 1px solid #90a4ae !important;
    strong {
        font-weight: bold; 
        color: #FFFFFF !important;
    }
}
.bg_font_color {
    color: #828282 !important;
}
.bg_border_top {
    border-top: 1px solid #eaeaea !important;
}
h2 {font-weight: bold; color: #283593 !important; font-size:12px;}

.bg_theme_color {
    background-color: @cs-table-header-bg !important; 
    color: #FFFFFF !important;
    strong {
        font-weight: bold; 
        color: #FFFFFF !important;
    }
}



.font_theme_color {
    color: @cs-h2-color !important;
}
.border_theme_color {
    border-bottom: 1px solid #dddddd !important;
}

.table-condensed > thead > tr > th { background-color: @cs-table-header-bg !important; color: #FFFFFF !important; border-bottom: 1px solid @cs-border-color !important; }


.border-bottom {
    border-bottom: 1px solid @cs-border-color !important;
}
.border-top {
    border-top: 1px solid @cs-border-color !important;
}
.border-right {
    border-right: 1px solid @cs-border-color !important;
}
.border-left {
    border-left: 1px solid @cs-border-color !important;
}


.company_address {
    font-size:10px;
}
.font_inv {
    font-size:10px;
}